* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Henny Penny', cursive;
    background-image: url(../img/velha.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.75rem;
    margin: 20px;
}

.tabuleiro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:  1rem;
}

.quadrado {
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    background: #eee;
    display: inline-block;
    padding: 0.3rem;
    font-size: 2.5rem;
    margin: 5px;
    cursor: pointer;
}

div .quadrado {
    color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px rgb(146, 146, 146),
        10px 10px 10px rgba(70, 70, 70, 0.12);

}

label {
    font-size: 1rem;
    font-family: 'Henny Penny', cursive;
    font-weight: 700;
}

.jogador, .vencedor {
    font-size: 1.5rem;
}

button {
    margin: 20px;
    width: 100px;
    height: 35px;
    font-size: 1.1rem;
    border-radius: 5px;
    background: rgb(244, 252, 128);
    cursor: pointer;
    font-family: 'Henny Penny', cursive;
}

button:hover {
    background: rgb(244, 252, 128);
    box-shadow: 5px 5px 5px 1px rgb(146, 146, 146),
        10px 10px 10px rgba(70, 70, 70, 0.12);
}


